.card-container {
  width: fit-content;
}

.token-1 {
  display: inline-flex;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: red;
}

.token-2 {
  display: inline-flex;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: yellow;
}
